@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,100italic,300italic,400);

/****************/
/*general styles*/
/****************/
body{
  font-family: 'Roboto', sans-serif;
  color:#777;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  background-color: #fafafa;
}

a{
  text-decoration: none;
}

/***************/
/*layout styles*/
/***************/
.section-wrapper{
  margin: 0 auto;
  max-width: 1170px;
}

/***************/
/*header styles*/
/***************/
header{
  background-color: rgb(0,167,247);
  font-weight: 200;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1;
  height:120px;
  overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);

  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}


header h1,
header nav a{
  line-height:120px;
  color:white;
}

header h1{
  font-size:40px;
  text-align: left;
  text-transform: uppercase;
  
  margin:0;
  float:left;
  display:inline;
}
header h1 span{
  font-size:16px;
  letter-spacing: 2px;
  text-transform: none;
  padding-left:10px;
}
header nav{
  float:right;
}

header nav a{
  padding:10px;
}




/********************/
/*main section styles*/
/********************/

main{
  margin-top:130px;
  margin-bottom:80px;
}
#instructions{
  text-align: center;
  font-weight:200;
}

#map {
  border: 0px solid black;
  height: 600px;
  width: 90%;
  margin:0 auto;
}

/***************/
/*aside  styles*/
/***************/
aside{
  background-color: rgba(238,238,238,0.85);
  color: #6c6c6c;
  text-align: left;
  padding:2% 0;
  width:100%;
  display:none;
  position:absolute;
  overflow: hidden;
  bottom:50px;
  left:0;

}
#station-info{
  width:90%;
  margin:0 auto;
  overflow:hidden;
}
#pano-container{
  width:300px;
  overflow:hidden;
  margin:0 auto;
  padding:0 2% 0 0;
  display:inline-block;
  float:left;
}
#panorama{
  height:200px;
}

div#details{
  margin-left:10px;

}

#station-name{
  font-size:20px;
  color:black;
  font-weight: bold;
}
#lines{
  font-weight:bold;
}
aside p:last-of-type{
  padding-top:20px;
}

/*close button for aside window*/
#circle{
  border-radius:50%;
  width: 15px;
  height:15px;
  position: absolute;
  right:10px;
  top:10px;
  box-shadow: 2px 3px 3px 0px rgba(41,41,41,0.3);
  background-color: rgb(255, 97,89);
  font-size:12px;
  line-height: 15px;
  font-weight:600;
  color:rgba(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
}

#circle:hover{
  background-color: #FF8A80;
  box-shadow: 1px 2px 1px 0px rgba(41,41,41,0.3);
}

/***************/
/*footer styles*/
/***************/
footer{
  width:100%;
  height:50px;
  background-color: rgb(68,68,68);
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  position:fixed;
  bottom:0;
  left:0;
}

footer a{
  color: #f3f3f3;
  line-height: 50px;
  font-weight: 200;
  
}
footer a{
  padding-right:25px;
}

a.about{
  float:left;
  margin-left:5px;

}

a.icon{
  float:right;
}

/*media queries*/
@media screen and (max-width: 55em) {
     
    header h1,
    header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    #station-info{
      text-align: center;
    }
    #station-info img{
      float:none;
    }
    #details h3, #details p{
      width:100%;
      text-align: left;
    }
}
 
@media screen and (max-width: 32.25em) {

    header h1 span, nav a{
      display:none;
    }
    a.about{
      float:none;
      padding-right:5px;
    }
}
 
